---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<main>
    <h2>Aprende</h2>
    <p><a href="/learn/basics">Lo básico</a></p>
    <p><a href="/learn/glossary">Consulta el glosario</a></p>
    <p><a href="/learn/faq">Preguntas frecuentes</a></p>
	</main>
</Layout>
