---
import SimulationAlert from '@/components/alerts/SimulationAlert'
import { MONTHLY_CONTRIBUTION_PROPORTION } from '@/consts/afp'
import { MONTHS } from '@/consts/dates'
import {
  BASIC_SIMULATION_FOUND,
  BASIC_SIMULATION_STARTING_YEAR,
  BASIC_SIMULATION_STATING_MONTH,
  BASIC_SIMULATION_YEARS,
  NET_TO_GROSS_BASIC_PROPORTION
} from '@/consts/num'
---

<h2 id="methodology">Metodología Simulación</h2>
<SimulationAlert />
<p>
  Se basa en una proyección de {BASIC_SIMULATION_YEARS} años con un sueldo líquido
  definido. Mes a mes se va ahorrando la proporción correspondiente y se aplica una
  rentabilidad promedio, calculada para cada AFP.
</p>
<ul>
  <li>Proyección a {BASIC_SIMULATION_YEARS} años.</li>
  <li>
    Proporción ahorrada del sueldo imponible: {
      MONTHLY_CONTRIBUTION_PROPORTION * 100
    }%.
  </li>
  <li>
    Sueldo imponible simplificado al {NET_TO_GROSS_BASIC_PROPORTION * 100}% del
    sueldo líquido ingresado.
  </li>
  <li>
    Fondo usado para calcular rentabilidad promedio: {BASIC_SIMULATION_FOUND}.
  </li>
  <li>
    Rentabilidad promedio calculada usando todas las rentabilidades mensuales
    registradas desde <u
      >{MONTHS[BASIC_SIMULATION_STATING_MONTH]} de {
        BASIC_SIMULATION_STARTING_YEAR
      }</u
    ><a href="#date-detail" style="text-decoration: none;">*</a> a la actualidad.
  </li>
</ul>
<p id="date-detail">
  * <small>Fecha equivalente al inicio de AFP UNO.</small>
</p>
