<h2>Mejor AFP por comisión: <span data-best-afp-by-comition-span></span></h2>
<p>La AFP que menos saca de tu sueldo.</p>
<table data-best-afp-by-comition-table style="max-width: 500px;">
  <tbody></tbody>
</table>

<script>
  import jsonData from '@/json_data/comitions.json'
  import { getColor } from '@/lib/utilities/nums'

  const span = document.querySelector('span[data-best-afp-by-comition-span]')
  const tableBody = document.querySelector('table[data-best-afp-by-comition-table] tbody')
  const sortedAfp = Object.entries(jsonData).sort(([, comition1], [, comition2]) => comition1 - comition2)
  const bestAfp = sortedAfp[0]
  const worstAfp = sortedAfp.at(-1) as typeof bestAfp
  if (span) span.textContent = bestAfp[0]
  for (const [name, comition] of sortedAfp) {
    if (!tableBody) break
    const tableRow = document.createElement('tr')
    const tableNameData = document.createElement('td')
    const tableComitionData = document.createElement('td')
    tableNameData.textContent = name
    tableComitionData.textContent = comition.toString() + '%'
    const color = getColor(bestAfp[1], worstAfp[1], comition, true)
    tableComitionData.style.setProperty('text-align', 'center')
    tableComitionData.style.setProperty('border-right', `4px solid ${color}`)
    tableComitionData.style.setProperty('border-left', `4px solid ${color}`)
    tableNameData.style.setProperty('border-left', `4px solid ${color}`)
    tableRow.appendChild(tableNameData)
    tableRow.appendChild(tableComitionData)
    tableBody.appendChild(tableRow)
  }
</script>
