---
import BestAFPByComitionTable from '@/components/tables/BestAFPByComitionTable.astro'
import { AFPS } from '@/consts/afp'

const sortedAfpsEntries = Object.entries(AFPS).sort(
  ([, { comition }], [, { comition: comition2 }]) => comition - comition2
)
const bestAfpName = sortedAfpsEntries[0][0]
---

<section>
  <h2>Mejor AFP por comisión: {bestAfpName}</h2>
  <p>La AFP que menos saca de tu sueldo.</p>
  <BestAFPByComitionTable sortedAfpsEntries={sortedAfpsEntries} />
</section>
