---
import Contact from '@/components/sections/Contact/index.astro'
import Mision from '@/components/sections/Mision/index.astro'
import SimulationMethodoligy from '@/components/sections/SimulationMethodology/index.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <main>
    <Mision />
    <SimulationMethodoligy />
    <Contact />
  </main>
</Layout>
