---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
	<main>
    <h2>Misión</h2>
    <p style="max-width: 900px;">
      El sistema de AFP ha sido controversial desde su llegada, pero en este sitio
      no buscamos evaluar ni positiva ni negativamente si es un buen sistema o no. La
      realidad es que este es el sistema actual, y si queremos maximizar nuestros
      beneficios es necesario que entendamos cómo funciona.
    </p>
    <p style="max-width: 900px;">
      En este sitio podrás ver la evolución que han teniendo las diferentes AFP, y aunque no ofrecemos
      ningún tipo de asesoría, esperamos que con los datos en la mano puedas escoger cuál
      es la AFP que más te conviene al momento usando tu propio criterio.
    </p>
    <p style="max-width: 900px;">
      Estos datos en realidad son públicos, y los puedes consultar tú mismo en el sitio oficial de
      la <a href="https://www.spensiones.cl/portal/institucional/594/w3-channel.html" target="_blank" referrerpolicy="no-referrer">Superintendencia de Pensiones</a>.
      Nuestros gráficos y tablas se nutren de esa información, intentando dar una guía más visual.
    </p>
    <h2>Contacto</h2>
    <p>Emiliano Acevedo Felip: <a href="mailto:e.acevedo.felip@gmail.com">e.acevedo.felip@gmail.com</a></p>
    <p>Este proyecto es de código abierto y lo puedes mirar en <a href="https://github.com/Emonee/rentabilidadesafp" target="_blank" rel="noopener noreferrer">github</a>.</p>
    <p>Si quieres la data histórica registrada en la Superintendencia de Pensiones, puedes consultarla o descargarla <a href="https://github.com/Emonee/rentabilidadesafp/blob/main/public/super.csv" target="_blank" rel="noopener noreferrer">acá</a> en formato CSV.</p>
	</main>
</Layout>
