<article>
  <p>Fondo a visualizar:</p>
  <select id="fondo" style="max-width: 200px;">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
  </select>
  <div class="chart-container"><canvas id="anual"></canvas></div>
</article>
<script src="@/lib/client/anual.ts"></script>
  