---
import { FONDOS } from '@/consts/afp'

interface Props {
  defaultSelected?: string
  id?: string
}
const { defaultSelected = 'A', id } = Astro.props
---

<select id={id} style="max-width: 200px;">
  {FONDOS.map(({ name }) => (
    <option value={name} selected={name === defaultSelected}>{name}</option>
  ))}
</select>
