---
import { FONDOS } from '@/consts/afp'
import type { HTMLAttributes } from 'astro/types'

interface Props {
  defaultSelected?: string
  attributes?: HTMLAttributes<'select'>
}
const { defaultSelected = 'A', attributes } = Astro.props
---

<select style="max-width: 200px;" {...attributes}>
  {FONDOS.map(({ name }) => (
    <option value={name} selected={name === defaultSelected}>{name}</option>
  ))}
</select>
