<out-of-period-afps style="display: none;">
  <p>Las siguientes AFP quedaron fuera del ranking por no existir dentro del periodo completo:</p>
  <ul></ul>
</out-of-period-afps>

<script src="./script.ts"></script>
