---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <main>
    <h2>Conceptos clave</h2>
    <ul>
      <li>
        <b>AFP:</b> Administradora de Fondos de Pensiones. Son entidades financieras que
        recaudan y administran los ahorros previsionales e individuales de cada trabajador
        con el fin de proporcionar una pensión al momento de jubilar.
      </li>
      <li>
        <b>Inversión:</b> Acto de destinar dinero o recursos a la adquisición de <span data-tooltip="Un activo es cualquier cosa que posee valor y que puede generar beneficios o rendimientos en el futuro.">activos</span> con
        la expectativa de obtener un retorno positivo o beneficio en el futuro. 
      </li>
      <li>
        <b>Rentabilidad:</b> Es la evaluación del retorno de una inversión, y esta puede ser tanto positiva
        (gané dinero) como negativa (perdí dinero).
      </li>
    </ul>
    <h2>Un ejemplo práctico</h3>
    <p>
      Juanito tiene 14 años y por primera vez empieza a recibir una mesada que su madre le entregará durante todo el año, $10.000 al mes.
      En su primera mesada llega su madre y le entrega 10 billetes de $1.000 (luca para los amigos), pero resulta que llega su papá y
      de esos $10.000 le quita $1.000 con la justificación que le juntará todos esos billetes para a fin de año devolverle lo que le quitó.
      Esto mismo se repitió durante todo el año. Cada mes, $9.000 pesos entraban al bolsillo de Juanito mientras que su padre le guardaba $1.000.
    </p>
    <p>Al pasar el año, tenemos la siguiente situación:</p>
    <ul>
      <li>Juanito a adquerido un total de $108.000 de forma directa.</li>
      <li>El padre de Juanito ha recaudado un total de $12.000.</li>
    </ul>
    <p>
      Juanito llega donde su padre exigiendo de vuelta del dinero que este le había quitado.
      El padre se acerca y le da $15.000, $3.000 pesos más que los que Juanito sedió originalmente
      de sus ahorros. Esto el padre lo logró comprando y revendiendo antiguedades con el mismo
      dinero que le quitaba a juanito, y logró sacar una ganancia de ello.
    </p>
    <h4>Y esta historia, ¿Cómo es relevante?</h4>
    <p>
      Esta historia está construida para ejemplificar ciertos conceptos que giran en torno
      al sistema de pensiones Chileno y las AFP.
    </p>
    <p>
      En esta caricatura, Juanito representa de alguna manera un trabajador, mientras que la madre
      podría ser conciderada como una especie de empleador que todos los meses da un sueldo, que vendría
      siendo la mesada. El padre por otra parte, vendría a ser el concepto de la AFP, que de manera
      forzada retiene una parte de los ingresos de Juanito con el objetivo de devolverselos en el futuro.
      La compra de antiguedades representa una inversión, y el excedente de $3.000 vendría siendo la rentabilidad
      que estas inversiones tuvieron.
    </p>
    <p>
      Obviamente, esto es un ejemplo muy simple que se salta otras variables que entran en la ecuación.
      También es importante mensionar que este es un caso optimista. Aunque el padre de Juanito
      logró sacar beneficio de sus transacciones, era perfectamente posible que perdiera dinero y terminar
      devolviéndole a Juanito incluso menos de los $12.000 que recaudó en total.
    </p>
  </main>
</Layout>
