---
import FoundAndPeriodForm from '@/components/forms/forms/FoundAndPeriodForm.astro'
import OutOfPeriodAfps from '@/components/info/OutOfPeriodAfps/OutOfPeriodAfps.astro'
import BestAFPByPeriodTable from '@/components/tables/BestAFPByPeriodTable/BestAFPByPeriodTable.astro'
---

<best-afp-by-period-section>
  <section>
    <h2>Mejor AFP por periodo y fondo: <span data-best-afp-by-period-span></span></h2>
    <p>Corresponde al raking por rentabilidad real acumulada desde el periodo y fondo seleccionado.</p>
    <p><b>Fondo a visualizar:</b></p>
    <FoundAndPeriodForm />
    <BestAFPByPeriodTable />
    <OutOfPeriodAfps />
  </section>
</best-afp-by-period-section>

<script src="./script.ts"></script>
