---
import FoundsSelect from '@/components/forms/selects/FoundsSelect.astro'
import BestAfpByYTDTable from '@/components/tables/BestAfpByYTDTable.astro'
---

<best-ytd-afp-section>
  <section>
    <h2>
      Mejor AFP <span data-tooltip="Year To Date">YTD</span> por fondo: <span
        data-best-afp-by-ytd-span></span><a
        href="#last-data"
        style="text-decoration: none">*</a
      >
    </h2>
    <p>
      Corresponde al raking por rentabilidad real acumulada desde inicios del
      presente año a la actualidad.
    </p>
    <p><b>Fondo a visualizar:</b></p>
    <FoundsSelect />
    <BestAfpByYTDTable />
  </section>
</best-ytd-afp-section>

<script src="./index.ts"></script>
