---
import BestAfpByComitionSection from '@/components/sections/BestAfpByComitionSection/BestAfpByComitionSection.astro'
import BestAfpByPeriodSection from '@/components/sections/BestAfpByPeriodSection/BestAfpByPeriodSection.astro'
import BestAfpByYtdSection from '@/components/sections/BestAfpByYtdSection/BestAfpByYtdSection.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<main>
		<BestAfpByYtdSection />
    <BestAfpByPeriodSection />
		<BestAfpByComitionSection />
	</main>
</Layout>
