---
import BestAfpByComitionSection from '@/components/sections/BestAfpByComitionSection/BestAfpByComitionSection.astro'
import BestAfpByYtdSection from '@/components/sections/BestAfpByYtdSection/BestAfpByYtdSection.astro'
import BestAFPByPeriod from '@/components/tables/BestAFPByPeriod.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<main>
		<BestAfpByYtdSection />
    <BestAFPByPeriod />
		<BestAfpByComitionSection />
	</main>
</Layout>
