---
import BestAfpByComitionSection from '@/components/sections/BestAfpByComitionSection/BestAfpByComitionSection.astro'
import BestAfpByPeriodSectionSolid from '@/components/sections/BestAfpByPeriodSection/BestAfpByPeriodSection.solid'
import BestAfpByYtdSection from '@/components/sections/BestAfpByYtdSection/BestAfpByYtdSection.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<main>
		<BestAfpByYtdSection />
		<BestAfpByPeriodSectionSolid client:only="solid" />
		<BestAfpByComitionSection />
	</main>
</Layout>
