---
import Layout from '../layouts/Layout.astro';
import BestAFPByComition from '@/components/BestAFPByComition.astro';
import BestAfpByYTD from '@/components/BestAfpByYTD.astro';
import BestAFPByPeriod from '@/components/BestAFPByPeriod.astro';
---

<Layout>
	<main>
		<BestAfpByYTD />
    <BestAFPByPeriod />
    <BestAFPByComition />
	</main>
</Layout>
