---
import BestAfpByComitionSection from '@/components/sections/BestAfpByComitionSection/BestAfpByComitionSection.astro'
import BestAfpByPeriodSection from '@/components/sections/BestAfpByPeriodSection/index.astro'
import BestAfpByYtdSection from '@/components/sections/BestAfpByYtdSection/index.astro'
import Layout from '@/layouts/Layout.astro'
import { getLastUpdateDate } from '@/lib/server/data'
import { getMonthNameByMonth } from '@/lib/utilities/dates'

const lastUpdatedDate = await getLastUpdateDate()
const monthString = getMonthNameByMonth(lastUpdatedDate.getMonth())
---

<Layout>
  <main>
    <BestAfpByYtdSection />
    <BestAfpByPeriodSection />
    <BestAfpByComitionSection />
    <p id="last-data">
      * Datos actualizados a {monthString} del {lastUpdatedDate.getFullYear()}.
    </p>
  </main>
</Layout>
