---
import Layout from '../layouts/Layout.astro';
import BestAfpByYTD from '@/components/tables/BestAfpByYTD.astro';
import BestAFPByPeriod from '@/components/tables/BestAFPByPeriod.astro';
import BestAfpByComitionSection from '@/components/sections/BestAfpByComitionSection/BestAfpByComitionSection.astro';
---

<Layout>
	<main>
		<BestAfpByYTD />
    <BestAFPByPeriod />
		<BestAfpByComitionSection />
	</main>
</Layout>
