<h2>Misión</h2>
<p>
  El sistema de AFP ha sido controversial desde su llegada, pero en este sitio
  no buscamos evaluar ni positiva ni negativamente si es un buen sistema o no.
  La realidad es que este es el sistema actual, y si queremos maximizar nuestros
  beneficios es necesario que entendamos cómo funciona.
</p>
<p>
  En este sitio podrás ver la evolución que han teniendo las diferentes AFP, y
  aunque no ofrecemos ningún tipo de asesoría, esperamos que con los datos en la
  mano puedas escoger cuál es la AFP que más te conviene al momento usando tu
  propio criterio.
</p>
<p>
  Estos datos en realidad son públicos, y los puedes consultar tú mismo en el
  sitio oficial de la <a
    href="https://www.spensiones.cl/portal/institucional/594/w3-channel.html"
    target="_blank"
    referrerpolicy="no-referrer">Superintendencia de Pensiones</a
  >. Nuestros gráficos y tablas se nutren de esa información, intentando dar una
  guía más visual.
</p>
