---
import Layout from '@/layouts/Layout.astro';
import Anual from '@/components/Anual.astro'
import Comitions from '@/components/Comitions.astro'
import Ytd from '@/components/Ytd.astro'
import Acc from '@/components/Acc.astro'
---

<Layout>
	<main>
    <h2>Rentabilidad histórica anual <small style="font-size: 14px">(Más es mejor)</small></h2>
    <Anual />
    <h2>Anual acumulado a la fecha<a href="#last-data" style="text-decoration: none">*</a> <small style="font-size: 14px">(Más es mejor)</h2>
    <Ytd />
    <h2>Acumulado últimos 12 meses<a href="#last-data" style="text-decoration: none">*</a> <small style="font-size: 14px">(Más es mejor)</h2>
    <Acc />
    <h2>Comisiones<a href="#last-data" style="text-decoration: none">*</a> <small style="font-size: 14px">(Menos es mejor)</h2>
    <Comitions />
    <p id="last-data">* Datos actualizados a Junio del 2024.</p>
	</main>
</Layout>
