---
import AnnualArticle from '@/components/articles/AnnualArticle.astro'
import HistoricalArticle from '@/components/articles/HistoricalArticle.astro'
import Acc from '@/components/charts/bar/Acc'
import Ytd from '@/components/charts/bar/Ytd/Ytd.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <main>
    <h2>
      Rentabilidad real histórica <small style="font-size: 14px"
        >(Más es mejor)</small
      >
    </h2>
    <p>Es el acumulado mes a mes de cada AFP.</p>
    <HistoricalArticle />
    <h2>
      Rentabilidad real histórica anual <small style="font-size: 14px"
        >(Más es mejor)</small
      >
    </h2>
    <p>Lo que han rentado las AFP cada año.</p>
    <AnnualArticle />
    <h2>
      Rentabilidad anual acumulada a la fecha<a
        href="#last-data"
        style="text-decoration: none">*</a
      >
      <small style="font-size: 14px">(Más es mejor)</small>
    </h2>
    <p>También conocido como Year To Date.</p>
    <Ytd />
    <h2>
      Rentabilidad real últimos 12 meses<a
        href="#last-data"
        style="text-decoration: none">*</a
      >
      <small style="font-size: 14px">(Más es mejor)</small>
    </h2>
    <Acc client:only="solid" />
    <p id="last-data">* Datos actualizados a Julio del 2024.</p>
  </main>
</Layout>
