<h2>Contacto</h2>
<p>
  Emiliano Acevedo Felip: <a href="mailto:e.acevedo.felip@gmail.com"
    >e.acevedo.felip@gmail.com</a
  >
</p>
<p>
  Este proyecto es de código abierto y lo puedes mirar en <a
    href="https://github.com/Emonee/rentabilidadesafp"
    target="_blank"
    rel="noopener noreferrer">github</a
  >.
</p>
